ICAL_URL=https://example.com/mycalendar.ics
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USER=ntuomas@hotmail.com
SMTP_PASS=your-smtp-pass
EMAIL_FROM=your-from@example.com
EMAIL_TO=your-email@example.com
DAYS_AHEAD=2
TZ=Europe/Helsinki